
.dino{
	left: 20px;
	height: 60px;
	width: 60px;
	bottom: 4%;
	background-image: url(../img/dino.png);
	position: absolute;
}

.cacto{
	height: 60px;
	width: 30px;
	position: absolute;
	bottom: 0;
	background-image: url(../img/cactus.png);
}

@keyframes slideright {
	from {
			background-position: 70000%
	}
	to {
		background-position: 0;
	}
}

.background{
	position:absolute;
	bottom:35%;
	background-image: url(../img/background.png);
	background-repeat: repeat-x;
	animation: slideright 1100s infinite linear;
	width: 70%;
	height: 220px;
	border: 2px solid black;
}


.score{
	text-align: center;
	bottom: 50%;
	font-style: arial;
	color: rgb(107, 104, 104);
}
.game{
	display: flex;
	justify-content: center;
}

a.button7{
	display:inline-block;
	padding:0.7em 1.7em;
	margin:0 0.3em 0.3em 0;
	border-radius:0.2em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:400;
	color:#FFFFFF;
	background-color:#3369ff;
	box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
	text-align:center;
	position:relative;
	margin-top: 20%;
}
a.button7:active{
box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}
@media all and (max-width:30em){
a.button7{
	display:block;
	margin:0.4em auto;
	}
}

.game-over{
	text-align: center;
	bottom: -50px;
	font-style: arial;
	color: rgb(107, 104, 104);

}
#end{
	display: none;
}
#end a{
	margin-left: 46%;
}

.value{
	right: 20%;
	position: absolute;
	font-family: "Colibri", "Comic Sans";
	color: darkslategray;
	top: 23%;
}
